DATA_MANY_TOPICS.csv
bigartm_batches/
*.csv
*.vw
.ipynb_checkpoints
recent_news.csv
docs/*.aux
docs/*.lof
docs/*.log
docs/*.lot
docs/*.fls
docs/*.out
docs/*.toc
docs/*.fmt
docs/*.fot
docs/*.cb
docs/*.cb2
web_server/__pycache__/
web_server/parsers/__pycache__/
web_server/models/*