<!DOCTYPE html>
<html>
<title>MIEM POWER</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
a{ text-decoration: none; } 
</style>
<script type="text/javascript">
  var aggr = '{{ aggregator }}';
  var topic_count = {{ groups|length }}
</script>

<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>News<br>aggregator</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{{ url_for('get_content', aggregator='Graphs', topic_count=5) }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white active">Graphs</a> 
    <a href="{{ url_for('get_content', aggregator='Kmeans', topic_count=5) }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Kmeans</a> <!-- 
    <a href="{{ url_for('get_content', aggregator='Graphs_only_titles', topic_count=5) }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white active">Graphs (only titles)</a> 
    <a href="{{ url_for('get_content', aggregator='Kmeans_only_titles', topic_count=5) }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Kmeans (only titles)</a>  -->
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Admin</a> 
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>News aggregator</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-xxxlarge"><b>{{ aggregator }} aggregator</b></h1>
    <h1 class="w3-xxlarge"><b>{{ count }} news processed</b></h1>
  </div>
  <div id="view">
  {% for group in groups %}
    {% if group|length > 0 %}
    <div class="w3-container">
       <h1 class="w3-xlarge w3-text-red"><b>{{ group[0]['title'] }}</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>
    
    {% for news_ in range(0, group|length, 3) %}
    <div class="w3-row-padding">
      {% for news in range(news_, (group|length, news_+3)|min) %}
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-hover-light-grey">
          <p><a href="{{ group[news]['url'] }}" class="w3-text"><b>{{ group[news]['title'] }}</b></a></p>
          <p>
            <span class="w3-opacity">{{ group[news]['media'] }}</span> {{ group[news]['date'] }}
            <span class="w3-tag w3-red">{{ group[news]['labels']['SVM'] }}
            </span>
          </p>
          <p>{{ group[news]['text'] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
  {% endfor %}
  </div>
  <button id="load-button" class="w3-btn w3-block w3-red">Load more</button>
<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><div class="w3-right"><p>Created by Vasiliy Vdovkin and Dmitry Yutkin at the HSE university in 2017</p><p class="w3-right">Front-end powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div></div>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='load.js') }}"></script>
</body>
</html>
